// Fontes utilizadas --------------
$fontePrincipal: Roboto,sans-serif;
// Cores --------------------------
$corPrincipalFundo: #f5f6fa;
$corHeaderFundo: #182C61;
$corBotoesFundo: #44bd32;
$corBotoesTexto: #fff;
// Tamanhos de Tela ---------------
$mobile: 767px;
$tablet: 1023px;